In [1]:
!pip install torch

# Install other dependencies
!pip install sympy scikit-learn

import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Markdown

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.5.1+cu121)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.16.1)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2024.10.0)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.10/dist-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (3.0.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (1.13.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy) (1.3.0)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data_5000 = pd.read_csv('/content/drive/My Drive/5000_transactions_2018_REVIEWED.csv')

In [8]:
data_5000.iloc[0,:]

transaction_datetime                                             2018-02-24 02:10:00
transaction type                                                      Wired National
tx_uid                                                                      US-84349
tx_agent_type                                                         Natural Person
tx_name                                                                 Amber Duncan
tx_address                                002 Ball Fall Suite 468 Ginaland, TX 46302
tx_country_code                                                                   US
tx_country_name                                                        United States
tx_currency                                                                      USD
tx_bank                                                                   US_BANK_31
tx_iban                                                       US05HFBH15852241361333
tx_amount                                                                   42758.86
rx_uid                                                                      US-cb4b0
rx_agent_type                                                                Company
rx_name                                                                  Charles PLC
rx_address                                           Unit 2109 Box 2629 DPO AP 18615
rx_country_code                                                                   US
rx_country_name                                                        United States
rx_currency                                                                      USD
rx_bank                                                                   US_BANK_35
rx_iban                                                       US96YXYP49708079250731
rx_amount                                                                   42758.86
transaction_status                                                     Not Suspected
AI Detection Status                                                      Not Flagged
AI explanation                     Not flagged country and not part of a Money La...
Probability:part_of_aggregation                                               0.1425
Probability:part_of_cycle                                                   0.022532
Probability:part_of_smurfing                                                0.089994
Name: 0, dtype: object